@import url("/node_modules/bootstrap/dist/css/bootstrap.min.css");
.titulo {
  border: 3px solid darkslateblue;
  border-radius: 15px;
  padding: 10px;
  background-color: slategrey;
}

.slide {
  background-color: whitesmoke;
  height: 20rem;
  border-top: 2px solid darkblue;
  border-bottom: 2px solid darkblue;
}
